<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IChequeService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59851/ChequeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChequeService"
                contract="ChequeService.IChequeService" name="BasicHttpBinding_IChequeService" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="FolderPath" value=".\\Folder\"/>
    <add key="GarbagePath" value=".\\Garbage\"/>
    <add key="CompletePath" value=".\\Complete\"/>
  </appSettings>
</configuration>